<div>
  <app-alert [model]="alert"></app-alert>
  <div class="row">
    <div class="col-12 col-md-9">
      <h1 class="mb-3" *ngIf="location.name">Weather forecast for {{ location.name }}</h1>
    </div>
    <div class="col-12 col-md-3">
      <div class="float-right mb-2">
        <app-location-search [value]="query"
                             (searchCity)="searchCity($event)"></app-location-search>
      </div>
    </div>
  </div>
  
  <app-weather-card-list [displayTemperature]="displayTemperature"
                     (weatherDataLoaded)="weatherDataLoaded($event)"
                     [hasError]="hasError"
                     [totalDays]="totalDays"
                     [locations]="searchLocations"></app-weather-card-list>

  <div class="form-check">
    <input id="show-temperature"
           [(ngModel)]="displayTemperature"
           class="form-check-input"
           type="checkbox" />
    <label for="show-temperature"
           class="form-check-label">Display Temperature</label>
  </div>
</div>
