<div class="card weather-card mb-sm-4 mb-2">
  <div [title]="model.date" [ngClass]="model.isCurrentDayOfWeek ? 'card-header bg-primary text-light text-center' : 'card-header bg-info text-light text-center'">
    {{ model.dayOfWeek }}
  </div>
  <img [src]="getWeatherImage()" class="card-img-top" alt="...">
  
  <div *ngIf="model.displayTemperature" class="card-body">
    <h5 class="card-title  text-center">{{model.temperature}} &deg;C</h5>
  </div>
  <div class="card-footer bg-white text-muted text-center">
    {{ model.date }}
  </div>
</div>
