<div class="row mt-2">
  <div class="col-9 pr-1">
    <div class="text-right">
      <input type="text" [(ngModel)]="value"
             class="form-control"
             placeholder="City" />
      <div class="ng-autocomplete">
          <ng-autocomplete [data]="data"
                           [searchKeyword]="value"
                           (selected)='selectEvent($event)'
                           (inputChanged)='onChangeSearch($event)'
                           (inputFocused)='onFocused($event)'
                           [itemTemplate]="itemTemplate"
                           [notFoundTemplate]="notFoundTemplate">
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.name"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
      </div>
    </div>
  </div>
  <div class="col-3 pl-0 pr-0">
    <a class="btn btn-primary" href="#" (click)="searchLocation()">
      <fa-icon [icon]="searchIcon"></fa-icon>
    </a>
  </div>
</div>
