<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather App</title>
    <base href="/">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="styles.css">
    @RenderSection("scripts", false)
</head>
<body>
    @if(User.Identity.IsAuthenticated)
    { 
        <div class="container-fluid">
            <div class="row pt-3 pb-3 bg-primary">
                <div class="col-7 header-logo">
                    <img src="~/cloudy.png" />
                    <p class="text-light m-0 mt-2">Weather App</p>
                </div>
                <div class="col-4 align-middle d-none d-xl-block">
                    <p class="text-right text-light m-0 mt-2">@User.Identity.Name</p>
                </div>
                <div class="col-lg-5 col-xl-1 col-sm-5 text-right">
                    <a class="btn btn-danger" href="@Url.Action("Logout", "Account", new { Area = "Identity" })">Logout</a>
                </div>
            </div>
        </div>
    }
    <div class="container mt-2">
        @RenderBody()
    </div>
</body>
</html>
